// layout
body {
	font-family: sans-serif;
}

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
}

.intro-form {
	padding: 20px 0px;
}

.layout {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;

	&--wide {
		max-width: 960px;
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0 !important;
}