// Site settings

// =============================================================================
// COLORS
// =============================================================================
$black: #000;
$white: #fff;

// =============================================================================
// SPACINGS
// =============================================================================
$base-spacing-unit: 10px;
$half-spacing-unit: ($base-spacing-unit / 2);
$double-spacing-unit: ($base-spacing-unit * 2);

// =============================================================================
// BREAKPOINTS
// =============================================================================
$bp0: 320px;
$bp1: $bp0 * 1.5;
$bp2: $bp1 * 1.5;
$bp3: $bp2 * 1.5;
$bp4: $bp3 * 1.5;
