////////////////////////////////////////////////////////////////////////////////
// FLEX-EMBED
//
// responsive embedding of media such as videos
////////////////////////////////////////////////////////////////////////////////

@mixin flex-embed {
	position: relative; // to position stuff
	height: 0;
	padding: 0;
	overflow: hidden; // clipper
}
