////////////////////////////////////////////////////////////////////////////////
// ICONS
//
// mixins so we don't have to extend
////////////////////////////////////////////////////////////////////////////////
@mixin icon {
	display: block;
	height: auto;
	fill: currentColor;
}
