////////////////////////////////////////////////////////////////////////////////
// UNSTYLED-LIST
//
// removed all default styling from a list, <ul> or <ol>
////////////////////////////////////////////////////////////////////////////////

@mixin unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
